.container {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    width: 100%;
}

.label {
    color: #000;
    font-size: 13px;
    margin: 5px 3px;
}

.input {
    color: #000;
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid darkgray;
    padding: 5px;
    height: 35px;
}