.container {
    height: 40px;
    width: 130px;
    border-radius: 10px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.container:hover {
    cursor: pointer;
}

.buttonTitle {
    color: #FFF;
    font-size: 13px;
}

.addTitle {
    color: #000;
    font-size: 13px;
}

.iconComplete {
    color: #FFF;
    font-size: 20px;
}

.addIcon {
    color: darkgray;
    font-size: 25px;
}

/*  */
.addButtonContainer {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgray;
}